:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;

  overflow: auto;

  color: var(--dark);
  font: 400 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-gap {
  gap: 30px;
}

.flex-center {
  justify-content: center;
}

.flex-center-align {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.item {

  width: 50%;
}

.section-bg {
  position: relative;

  background-color: var(--light);
}

.section-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: '';
}

.main-header {
  color: var(--main);
}

.white {
  color: white;
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.mt-150 {
  margin-top: 150px;
}

.relative {
  position: relative;

  display: block;
}

.z-index-100 {
  z-index: 100;
}

.button {
  display: inline-block;

  box-sizing: border-box;

  padding: 12px 24px;

  color: var(--white);

  font-weight: 700;

  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
}

.main-link-position-absolute {
  position: absolute;
  bottom: 40px;
  left: 570px;
}

.btn-orange {
  background-color: var(--main);
}

.text-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0;
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-column {
  flex-direction: column;
}

.bg-color-dark {
  background-color: var(--main-dark);
}

#navigation {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

#navigation li {
  /*flex-basis: 350px;*/
  width: calc(93% / 3);
  height: 330px;
  margin: 12px;
  box-sizing: border-box;
  padding: 24px;
  background-color: white;
}

#navigation li:first-child {
  padding: 0;
  background-color: var(--main-dark);
}

#navigation li:first-child h3 {
  font-size: 52px;
  padding: 0;
}

#navigation li h2 {
  /*flex-basis: 350px;*/
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
}

#navigation li h3 {
  /*flex-basis: 350px;*/
  color: var(--main);
  margin: 0px;
}

#navigation li p {
  /*flex-basis: 350px;*/
  margin: 0px;
}
