:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;

  overflow: auto;

  color: var(--dark);
  font: 400 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.container {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-gap-30 {
  gap: 30px;
}

.flex-center {
  justify-content: center;
}

.flex-center-align {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-content {
  justify-content: space-between;
}

.item {

  width: 50%;
}

.section-bg {
  position: relative;

  background-color: var(--light);
}

.section-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: '';
}

.color-white {
  color: white;
}

.color-brown {
  color: var(--brown);
}

.color-main-dark {
  color: var(--main-dark);
}

.color-translucent-dark {
  color: var(--translucent-dark);
}

.color-translucent-white {
  color: var(--translucent-white);
}

.bg-color-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-orange {
  background-color: var(--main);
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.m-0 {
  margin: 0;
}

.mt-150 {
  margin-top: 150px;
}

.relative {
  position: relative;

  display: block;
}

.z-index-100 {
  z-index: 100;
}

.button {
  display: inline-block;

  box-sizing: border-box;

  padding: 12px 24px;

  color: var(--white);

  font-weight: 700;

  text-transform: uppercase;

  text-decoration: none;

  cursor: pointer;
}

.main-link {
  position: absolute;
  bottom: 10;
  left: 570px;
}

.btn-orange {
  background-color: var(--main);
}

.color-orange {
  color: var(--main);
}

.text-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-200 {
  margin-bottom: 200px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-20 {
  padding-bottom: 15px;
}

.pt-200 {
  padding-top: 200px;
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-column {
  flex-direction: column;
}

.bg-color-dark {
  background-color: var(--main-dark);
}

.video-block {
  width: 919px;
  height: 469px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.cards {
  display: flex;

  flex-wrap: wrap;

  margin: 0 auto;
}

.first-card {
  box-sizing: border-box;
  width: 350px;
  padding: 0;
  margin-bottom: -10px;
  background-color: var(--main-dark);
}

.card-nav-title {
  margin: 0;

  font-size: 52px;
}

.card {
  display: block;
  box-sizing: border-box;
  width: 350px;

  padding: 24px;

  color: var(--dark);
  text-decoration: none;
  margin-bottom: -10px;
  background-color: var(--light);
}

.card-title {
  margin: 0 0 20px 0;

  color: var(--main);
}

.card-number-title {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.card:hover .card-title {
  color: var(--white);
}

.cognitive-pre-title {
  margin: 0;
}

.cognitive-name {
  margin: 0 0 30px 0;
}

.cognitive-text {
  margin: 0;
  font-family: 'Neucha';
}

.cognitive-title {
  margin-top: 100px;
  margin-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

  font-size: 14px;
  box-sizing: border-box;

  padding: 4px 8px;
  text-transform: uppercase;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 38px 50px;
}

.footer-send-form {

}

.footer-send-button {
  height: 50px;
  width: 70px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.footer-send-button::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;

  background-color: var(--main);
  background-image: url('../img/send.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-email-input {
  height: 50px;
  width: 394px;
  border: 0;
  padding: 0 15px;
  font-size: 18px;
}

.form-label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
}

.form-hint {
  margin: 6px 0 0 0;
  font-size: 12px;
}

.form-hint a {
  color: var(--white);
}

.footer-contacts {
  margin-top: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
